<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页-泉州标准化协会</title>
	<include file="./Application/Common/html/css.html"/>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/index.css">
</head>
<body>
	<div id="header" class="wrapper">
		<div class="toplink">

		</div>
		<div class="nav">
			<ul>
				<foreach name="nav" item="vo" key="k" >   
					<li>
						<!-- <a href="__CONTROLLER__/{$vo.navigation_url}">{$vo.category_name}</a> -->

						<a <if condition="($vo.url eq '')">href="__CONTROLLER__/{$vo.navigation_url}"<else/>href="{$vo.url}"</if>>{$vo.category_name}</a>
					</li>
				</foreach>
			</ul>
		</div>
	</div>
	<div id="container" class="wrapper">
		<div class="login">
			<form action="">邮箱登陆入口：<input type="text"><input type="submit" value="登陆"></form>
		</div>
		<div class="subnav">			
			<div class="general">
				<div class="title">
					协会概况
				</div>
				<ul>
<!-- 					<li><a href="">协会简介</a></li>
					<li><a href="">协会章程</a></li>
					<li><a href="">组织机构</a></li>
					<li><a href="">交通位置图</a></li> -->
					<foreach name="jggk" item="vo" key="k" >   
						<li>
							<a href="{:U('Index/about')}/#cate-{$vo.category_id}">{$vo.category_name}</a>
						</li>
					</foreach>
				</ul>
			</div>
			<div class="secretary">
				<div class="title">
					秘书处
				</div>
				<ul>
					<!-- <li><a href="">行政部</a></li>
					<li><a href="">标准咨询处</a></li>
					<li><a href="">编码服务部</a></li>
					<li><a href="">标准培训部</a></li>
					<li><a href="">项目合作部</a></li> -->
					<foreach name="msc" item="vo" key="k" >   
						<li>
							<a href="{:U('Index/about')}/#cate-{$vo.category_id}">{$vo.category_name}</a>
						</li>
					</foreach>
				</ul>
			</div>
			<div class="branch">
				<div class="title">
					标准分会
				</div>
				<ul>
					<!-- <li><a href="">纺织服装标准分会</a></li>
					<li><a href="">制鞋皮革标准分会</a></li>
					<li><a href="">机械电子标准分会</a></li>
					<li><a href="">化工塑料标准分会</a></li>
					<li><a href="">食品包装标准分会</a></li>
					<li><a href="">条码技术与应用分会</a></li>
					<li><a href="">墙体材料标准分会</a></li> -->
					<foreach name="bzfh" item="vo" key="k" >   
						<li>
							<a href="{:U('Index/about')}/#cate-{$vo.category_id}">{$vo.category_name}</a>
						</li>
					</foreach>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="middle">
				<div class="infos block">
					<div class="title">
						标准资讯
					</div>
					<ul>
						<foreach name="block1" item="vo" key="k" >   
							<li>
								<a href="{:U('Index/post',array('pid'=>$vo['post_id']))}"><span class="ptime">{$vo.post_date|date='m-d',###}</span><span class="ptitle">{$vo.post_title}</span></a>
							</li>
						</foreach>
					</ul>
				</div>
				<div class="notice block">
					<div class="title">
						标准公告
					</div>
					<ul>
						<foreach name="block2" item="vo" key="k" >   
							<li>
								<a href="{:U('Index/post',array('pid'=>$vo['post_id']))}"><span class="ptime">{$vo.post_date|date='m-d',###}</span><span class="ptitle">{$vo.post_title}</span></a>
							</li>
						</foreach>
					</ul>
				</div>
				<div class="exchange block">
					<div class="title">
						标准法规
					</div>
					<ul>
						<foreach name="block4" item="vo" key="k" >   
							<li>
								<a href="{:U('Index/post',array('pid'=>$vo['post_id']))}"><span class="ptime">{$vo.post_date|date='m-d',###}</span><span class="ptitle">{$vo.post_title}</span></a>
							</li>
						</foreach>
					</ul>
				</div>
				<div class=" block">
					<div class="title">
						科技扶持政策
					</div>
					<ul>
						<foreach name="block5" item="vo" key="k" >   
							<li>
								<a href="{:U('Index/post',array('pid'=>$vo['post_id']))}"><span class="ptime">{$vo.post_date|date='m-d',###}</span><span class="ptitle">{$vo.post_title}</span></a>
							</li>
						</foreach>
					</ul>
				</div>
				<div class="slogan">
					泉州市实施标准技术战略专业服务平台
				</div>
				<div class="slogan">
					美丽乡村规划建设标准专业服务平台
				</div>
				<div class="cooperate block">
					<div class="title">
						标准合作交流
					</div>
					<ul>
						<foreach name="block6" item="vo" key="k" >   
							<li>
								<a href="{:U('Index/post',array('pid'=>$vo['post_id']))}"><span class="ptime">{$vo.post_date|date='m-d',###}</span><span class="ptitle">{$vo.post_title}</span></a>
							</li>
						</foreach>
					</ul>
				</div>
				<div class="services">
					ENA条形码注册应用技术服务平台
				</div>
				<div class="services">
					<a href="http://www.testingdb.cn/trcn/">产品标准测试机构查询与服务</a>
				</div>
				<div class="knowledge block">
					<div class="title">
						标准化知识
					</div>
					<ul>
						<foreach name="block7" item="vo" key="k" >   
							<li>
								<a href="{:U('Index/post',array('pid'=>$vo['post_id']))}"><span class="ptime">{$vo.post_date|date='m-d',###}</span><span class="ptitle">{$vo.post_title}</span></a>
							</li>
						</foreach>
					</ul>
				</div>
				<div class="engineer block">
					<div class="title">
						标准工程师论坛
					</div>
					<ul>
						<foreach name="block8" item="vo" key="k" >   
							<li>
								<a href="{:U('Index/post',array('pid'=>$vo['post_id']))}"><span class="ptime">{$vo.post_date|date='m-d',###}</span><span class="ptitle">{$vo.post_title}</span></a>
							</li>
						</foreach>
					</ul>
				</div>
			</div>
			<div class="sidebar">
				<div class="block">
					<div class="title">标准在线服务咨询</div>
					<div class="link"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=5638214&site=qq&menu=yes"><img border="0" src="__PUBLIC__/Home/images/counseling_style_53.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></div>
				</div>
				<div class="services">标准查新、查询服务</div>
				<div class="services">企业标准编制与服务</div>
				<div class="services">标准翻译专业服务</div>
				<div class="services">标准水平评价服务</div>
				<div class="services">定题项目标准服务</div>
			</div>
		</div>
	</div>
<include file="./Application/Home/View/Public/footer.html"/>
<script>
	$('#pic_news').carousel();
</script>